* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ced6f6;
  color: #222;
}

.section {
  max-width: 1100px;
  margin: auto;
  padding: 70px 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 15px;
}

.subtext {
  color: #000000;
  line-height: 1.7;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #204671;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background: #204671;
}

/* Responsive */
.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
  background: #f8f6f6;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
